@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
main{
    background-color: #e5e5e5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.title{
    color: rgb(30, 30, 90);
    padding: 1rem;
}
.annMon{
    color: rgb(30, 30, 90);
    margin-bottom: 1.5rem;
}
.activate{
    display: inline-block;
    width: 45px;
    height: 25px;
    background-color: blue;
    vertical-align: bottom;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
}
.decision{
    color: #a5a5a5;
    font-size: 0.65rem;
    opacity: 0;
}
.activate:hover ~ .decision{
    opacity: 1;
}
.span1{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    background-color: #ffffff;
    display: inline-block;
    width: 24px;
    height: 20px;
    border-radius: 15px;
}

.container{
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basic{
    width: 33%;
    color: rgb(30, 30, 90);
    background-color: #ffffff;
    padding: 0.5rem 0.5rem 0.75rem;
}
.basic.left{
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.basic.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first-subtitle{
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}
.price{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.text{
    padding-top:0.5rem ;
    padding-bottom: 0.5rem;
}
.btn{
    background-color: rgb(117, 117, 241);
    color: #ffffff;
    margin-top: 0.5rem;
    padding: 0.45rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(117, 117, 241);
}

.professional{
    background-color: rgb(117, 117, 241);
    width: 33%;
    padding: 2rem 0.5rem 2.6rem;
    border-radius: 10px;
    color: #ffffff;
}
.btn-pro{
    background-color: #ffffff;
    color: rgb(117, 117, 241);
    border: 1px solid #ffffff;
}

@media screen and (max-width:650px) {
    .container{
        flex-direction: column;
    }
    .basic, .professional{
        width: 80%;
        border-radius: 10px;
        margin: 0.5rem 0 0.5rem;
    }
    .btn{
        width: 80%;
    }
    
}
@media screen and (max-width:560px) {
    .basic, .professional{
        width: 100%;
    }
    
}













































































































